/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
  
  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden {
    display: none !important;
  }
  
  /*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
  * Hide visually and from screen readers, but maintain layout
  */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */
  
  .clearfix:before,
  .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  
  .clearfix:after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
    a,
    a:visited {
      text-decoration: underline;
    }
    a[href]:after {
      content: " (" attr(href) ")";
    }
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
    pre {
      white-space: pre-wrap !important;
    }
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    /*
       * Printing Tables:
       * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
       */
    thead {
      display: table-header-group;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
/* custom css */
body
{
  background-color: #f7f8fb;
  margin: 0;
  padding: 0;
  font-family: "ubuntu";
  font-weight: bold;
  color: #434346;
}

header
{
  background-color: #fff;
  display: flex;
  justify-content: center;
}
header svg {
	padding: 17px 0 20px 0;
}

main
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 44px;
}

h1
{
  font-size: 50px;
  letter-spacing: 0;
  position: relative;
  margin-bottom: 59px;
}

form
{
  background-color: #fff;
  max-width: 1085px;
  width: 100%;
  height: 229px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #bdbdbd;
}
.userCheck-submit
{
  background-color: #ec174d;
  width: 100%;
  max-width: 268px;
  height: 46px;
  border-radius: 24px;
  color:
  #fff;
  font-size: 21px;
  font-family: "ubuntu";
  border:none;
  right: 36px;
  top: 21px;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.userInput {
	position: relative;
	left: 44px;
	top: -9px;
	max-width: 625px;
	width: 46vw;
}
.userInput label
{
  font-size: 28px;
}

.userInput input
{
  width: 100%;
  height: 44px;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  font-size: 20px;
  font-family: open sans;
  position: relative;
  top: 21px;
  color:#b3adad;
}

/* resume */
.Resume {
	background: #fff;
	max-width: 809px;
  width: 100%;
  padding: 56px 0 0 89px;
  position: relative;
  z-index: -1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Resume .Resume-basickInfo
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: start;
}

.Resume-userName
{
  font-size: 40px;
  margin-bottom: 3px;
}
.Resume-whichUser
{
  font-weight: normal;
  font-size: 30px;
  color: #939393;
}

.Resume .Resume-basickInfo a
{
  font-size: 20px;
  color:#EC174D;
  font-family: "open sans";
  font-weight: lighter;
  margin-top: 26px;
  text-decoration: none;
}
.Resume .Resume-addingInfo
{
  font-family: "open sans";
  font-weight: lighter;
  margin-top: 42px;
  font-size: 20px;
  max-width: 670px;
  line-height: 31px;
}
.Resume-title
{
  font-size: 28px;
  color: #424242;
}
.Languages
{
  margin-top: 57px;
  max-width: 736px;
  width: 100%;
}

.Languages-content
{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  color: #EC174D;
  font-size: 20px;
  font-weight: lighter;
  font-family: "open sans";
}

.Languages-content-lang
{
  position: relative;
  width: 25%;
  margin-bottom: 30px;
}

::-webkit-progress-value {
  background: #d8d8d8 ;
}
:-moz-progress-value {
  background: #d8d8d8 ;
}
::-webkit-progress-bar {
  background: #f5f7fa ;
}

.Languages-content-lang progress
{
  height: 5px;
  position: absolute;
  left: 0;
  bottom: -12px;
  max-width: 170px;
  border-radius: 100px;
  background: #f5f7fa;
  border:none;
}

::-moz-progress-bar
{
  background:#d8d8d8 !important;
}

.Languages-content-lang__decor
{
  color:#939393;
}

/* repositories-start*/
.Reps
{
  margin-top: 44px;
}
.Reps-content,
.Reps-content-item
{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: start;
}


.langAndRights,
.description,
.Reps-content-addingInfo
{
  font-family: "open sans";
  font-weight: lighter;
}

/* repositories-end*/
.Reps-content-item
{
  margin-top: 28px;
  position: relative;
  padding-bottom: 29px;
}
.Reps-content-item-baseInfo {
	font-weight: normal;
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 720px;
	font-size: 24.2px;
}
.langAndRights
{
  margin-top: 9px;
  font-size: 20px;
}
.description
{
  margin-top: 19px;
  font-size: 20px;
}
.Reps-content-addingInfo
{
  font-size: 20px;
  margin-top: 17px;
  width: 89%;
  line-height: 31.5px;
}

.Reps-content-item::after
{
  content: "";
  display: block;
  background-color: #c3c0c5;
  width: 89%;
  height: 1px;
  position: relative;
  top: 29px;
}
.Reps-content-item-baseInfo .Age
{
  font-size: 24.4px;
  color:#939393;
}
.Reps-content-item-baseInfo .RepoName
{
  color:#ec174d;
}
.langAndRights
{
  color:#989898;
}

.Reps-content-item:last-child::after
{
  display: none;
}

/* resume-end */